<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

<script type="text/javascript">
var sy = sy || {};
sy.contextPath = '';
sy.basePath = '';
sy.version = '1.0';
sy.pixel_0 = '{{url_for('static', filename='style/images/pixel_0.gif')}}';
</script>

<!-- 引入my97日期时间控件 -->
<script type="text/javascript" src="{{url_for('static', filename='jslib/My97DatePicker4.8Beta3/My97DatePicker/WdatePicker.js') }}" charset="utf-8"></script>

<!-- 引入ueditor控件 -->
<script type="text/javascript" charset="utf-8">window.UEDITOR_HOME_URL = '{{url_for('static', filename='/jslib/ueditor1_2_6_1-utf8-jsp/')}}';</script>
<script src="{{url_for('static', filename='jslib/ueditor1_2_6_1-utf8-jsp/ueditor.config.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='jslib/ueditor1_2_6_1-utf8-jsp/ueditor.all.min.js')}}" type="text/javascript" charset="utf-8"></script>

<!-- 引入jQuery -->
<script src="{{url_for('static', filename='jslib/jquery-1.9.1.js')}}" type='text/javascript' charset='utf-8'></script>
<!-- 引入jquery扩展 -->
<script src="{{url_for('static', filename='jslib/syExtJquery.js')}}" type="text/javascript" charset="utf-8"></script>

<!-- 引入Highcharts -->
<!-- <script src="{{url_for('static', filename='jslib/Highcharts-3.0.6/js/highcharts.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='jslib/Highcharts-3.0.6/js/modules/exporting.js')}}" type="text/javascript" charset="utf-8"></script> -->

<!--<script src="{{url_for('static', filename='jslib/Highcharts/highcharts.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='jslib/Highcharts/exporting.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='jslib/Highcharts/highcharts-3d.js')}}" type="text/javascript" charset="utf-8"></script>-->
<script src="{{url_for('static', filename='jslib/Highstock/highstock.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='jslib/Highstock/exporting.js')}}" type="text/javascript" charset="utf-8"></script>
<script src="{{url_for('static', filename='jslib/Highstock/offline-exporting.js')}}" type="text/javascript" charset="utf-8"></script>

<!-- 引入Highcharts扩展 -->
<script src="{{url_for('static', filename='jslib/syExtHighcharts.js')}}" type="text/javascript" charset="utf-8"></script>

<!-- 引入plupload -->
<script type="text/javascript" src="{{url_for('static', filename='jslib/plupload-2.0.0/js/plupload.full.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='jslib/plupload-2.0.0/js/i18n/zh_CN.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='jslib/plupload-2.0.0/js/jquery.plupload.queue/css/jquery.plupload.queue.css')}}" type="text/css">
<script type="text/javascript" src="{{url_for('static', filename='jslib/plupload-2.0.0/js/jquery.plupload.queue/jquery.plupload.queue.min.js')}}"></script>

<!-- 引入EasyUI -->
<link id="easyuiTheme" rel="stylesheet" href="{{url_for('static', filename='jslib/jquery-easyui-1.3.4/themes/bootstrap/easyui.css')}}" type="text/css">
<!-- <link rel="stylesheet" href="{{url_for('static', filename='jslib/jquery-easyui-1.3.4/themes/icon.css')}}" type="text/css"> -->
<script type="text/javascript" src="{{url_for('static', filename='jslib/jquery-easyui-1.3.4/jquery.easyui.min.js')}}" charset="utf-8"></script>
<script type="text/javascript" src="{{url_for('static', filename='jslib/jquery-easyui-1.3.4/locale/easyui-lang-zh_CN.js')}}" charset="utf-8"></script>
<!-- 引入EasyUI Portal插件 -->
<link rel="stylesheet" href="{{url_for('static', filename='jslib/jquery-easyui-portal/portal.css')}}" type="text/css">
<script type="text/javascript" src="{{url_for('static', filename='jslib/jquery-easyui-portal/jquery.portal.js')}}" charset="utf-8"></script>
<!-- 引入easyui扩展 -->
<script src="{{url_for('static', filename='jslib/syExtEasyUI.js')}}" type="text/javascript" charset="utf-8"></script>

<!-- 引入扩展图标 -->
<link rel="stylesheet" href="{{url_for('static', filename='style/syExtIcon.css')}}" type="text/css">

<!-- 引入自定义样式 -->
<link rel="stylesheet" href="{{url_for('static', filename='style/syExtCss.css')}}" type="text/css">

<!-- 引入javascript扩展 -->
<script src="{{url_for('static', filename='jslib/syExtJavascript.js')}}" type="text/javascript" charset="utf-8"></script>

<!--uploadify-->
<link href="{{url_for('static', filename='jslib/uploadify/uploadify.css')}}" rel="stylesheet" type="text/css" />
<script src="{{url_for('static', filename='jslib/uploadify/jquery.uploadify.min.js')}}"></script>

